# dependencies
node_modules/

# environment variables
.env
.env.local

# logs
*.log
npm-debug.log*

# build
dist/
build/

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# uploads
server/public/uploads/

# cache
.cache/

# prisma
/generated/prisma

# frontend
client/dist/

# backend
server/dist/